.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: 50%;
    padding-left: 15px;
    text-decoration: uppercase;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color .15s;
    &-black {
        width: 200px;
        margin-left: 10px;
        background-color: black;
        color: white;
        &:hover {
            background: white;
            color: black;
            border: 1px solid black;
        }
    }
    &-white {
        width: 200px;
        margin-left: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        &:hover {
            background: black;
            color: white;
        }
    }
}